* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
}

#container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(144.87deg, #13171B 0.52%, #040506 100%);
}

#home {
  padding: 16px;
  margin-right: 16px;
  border-radius: 4px;
  background: #ddd;
  background: linear-gradient(144.87deg, #13171B 0.52%, #040506 100%);
  box-shadow: -5px -5px 10px #151A1E, 5px 5px 10px #050607;

  color: #d5d5d5;
  text-decoration: none;
  font-weight: bold;
}

#game-container {
  display: flex;
  padding: 20px;
  height: 70vw;
  width: 70vw;
  max-height: 95vh;
  max-width: 95vh;

  /* inicialmente invisível? */
  /* display: none; */

  background: linear-gradient(117.79deg, #13171B 0%, #050607 97.34%);
  box-shadow: inset -5px -5px 10px #151A1E, inset 5px 5px 10px #050607;
}

#game {
  padding: 4%;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8%;
  row-gap: 8%;

  border-radius: 3%;
}

#game .board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12%;
  row-gap: 12%;
  border-radius: 2.1%;

  z-index: 5;
  transition: transform 0.5s;
  transition: border-color 0.5s ease-in;
}

#game .board button {
  cursor: default;
  height: 100%;
  width: 100%;
  border-radius: 4.1%;
  transition: transform 0.3s;
  z-index: 10;

  background: linear-gradient(117.79deg, #13171B 0%, #050607 97.34%);
  box-shadow: -5px -5px 9px #151A1E, 5px 5px 9px #020303;
}

#game .board button.available {
  cursor: pointer;
  transform: scale(1.1);
}

#game .board button.available:hover {
  transform: scale(1.1);
}

#game .board.conquered button {
  transform: scale(0.5);
}

#game .board button img {
  height: 100%;
  width: 100%;
  z-index: 15;
}

/* #game .board.conquered {
  transform: scale(0.5);
} */

#game .board.currentBoard {
  border: 0.5px solid #636363;
  border-radius: initial;
}
